html{
    background: #ebfaff
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

header{
    border-bottom: 8px dotted #ccc;
    position: sticky;
    top: 0;
    color: white;
    padding: 20px;
}

h1{
    font-size: 3em;
    margin: 0;
}


table{
    padding: 25px;
    line-height: 1.5em;
}

p{
    line-height: 1.4em;
}

h2, h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.25em;
    line-height: 0.5em;
}
form{
    line-height: 1em;
}
div{
    line-height: 2em;
}