html{
    background: #ebfaff
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

header{
    border-bottom: 8px dotted #ccc;
    position: sticky;
    top: 0;
    padding: 10px;
    background: white;
}

figure {
    background: #ebfaff;
    float: right;
    text-align: center;
    margin-left: 20px;
    margin-top: 0px;
}

.fall {
    display: flex;
}

aside{
    flex: 1
}

table{
    flex: 2;
    padding: 50px;
}

h1{
    font-size: 3em;
    margin: 0;
}

div{
    line-height: 2em;
}

table{
    padding: 25px;
    line-height: 1.5em;
}

h2, h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.25em;
    line-height: 0.5em;
}

form{
    line-height: 1em;
}

p:nth-of-type(2){
    line-height: 1.8em;
}